@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Colors */
    --primary: 265 84% 59%; /* #7F56D9 */
    --primary-foreground: 0 0% 100%; /* #FFFFFF */
    
    --border: 220 13% 91%; /* #D0D5DD */
    --border-secondary: 220 14% 96%; /* #EAECF0 */
    
    --background: 0 0% 100%; /* #FFFFFF */
    --background-secondary: 210 20% 98%; /* #F9FAFB */
    
    --foreground: 222 47% 11%; /* #101828 */
    --muted-foreground: 215 20% 65%; /* #475467 */
    --text-muted: 217 19% 27%; /* #667085 */

    /* Spacing */
    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 20px;
    --spacing-6: 24px;
    
    /* Sizes */
    --container-width: 1168px;
    --menu-item-height: 78px;
    --button-height: 40px;
    
    /* Border Radius */
    --radius: 8px;
    
    /* Shadows */
    --shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
  }
}
